# Normalize all text files to LF, per WordPress coding standards.
* text=auto eol=lf

# Binary files.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.zip binary
