/* Global Style Settings */
:root {
	--msbr-review-list-item-bg: #f3f3f3;
}
/* Add Review Modal */
.msbr-add-review-modal,
.msbr-show-review-modal {
	position: relative;
	background: #fff;
	padding: 20px;
	width: auto;
	max-width: 600px;
	margin: 20px auto;
	border-radius: 5px;
}
.msbr-add-review-modal .mfp-close,
.msbr-show-review-modal .mfp-close {
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 25px;
}

/* review layout */
.woocommerce .woocommerce-Tabs-panel--msbr_reviews ol.commentlist,
.msbr-show-review-modal ol.commentlist {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.woocommerce-Tabs-panel--msbr_reviews .woocommerce-Reviews {
	width: 100% !important;
	max-width: 100% !important;
}
.woocommerce .woocommerce-Tabs-panel--msbr_reviews ol.commentlist,
.msbr-show-review-modal ol.commentlist,
.woocommerce .woocommerce-Tabs-panel--msbr_reviews ol.commentlist li,
.msbr-show-review-modal ol.commentlist li,
.msbr-show-review-modal ol.commentlist p {
	margin: 0;
}
.woocommerce .woocommerce-Tabs-panel--msbr_reviews ol.commentlist li .comment_container,
.msbr-show-review-modal ol.commentlist li .comment_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.woocommerce .woocommerce-Tabs-panel--msbr_reviews #reviews #comments ol.commentlist li img.avatar,
.msbr-show-review-modal ol.commentlist li .comment_container > img {
	display: inline-block;
	height: auto;
	max-height: unset;
	padding: 3px;
	background: #ebe9eb;
	border: 1px solid #e4e1e3;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.woocommerce .woocommerce-Tabs-panel--msbr_reviews #reviews #comments ol.commentlist li img.avatar {
	float: none;
	position: relative;
}
.woocommerce .woocommerce-Tabs-panel--msbr_reviews ol.commentlist li .comment_container .comment-text,
.msbr-show-review-modal ol.commentlist li .comment_container .comment-text {
	padding: 10px;
	border: 1px solid #e4e1e3;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.woocommerce .woocommerce-Tabs-panel--msbr_reviews #reviews #comments ol.commentlist li .comment-text {
	margin-left: 0;
}

/* Show Review Star Rating */
.mfp-wrap {
	z-index: 99999999999;
}
.msbr-show-review-modal .star-rating {
	float: right;
	overflow: hidden;
	position: relative;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	width: 5.4em;
	font-family: star;
}
.msbr-show-review-modal .star-rating span::before,
.msbr-show-review-modal .star-rating::before {
	color: #ffcc00;
	height: 1.2em;
	top: 0.5px;
}
.msbr-show-review-modal .star-rating::before {
	content: "sssss";
	color: #d3ced2;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
}
.msbr-show-review-modal .star-rating span {
	overflow: hidden;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 1.5em;
}
.msbr-show-review-modal .product .star-rating span::before {
	color: #f8ac08;
	height: 1.2em;
	top: 0.5px;
}
.msbr-show-review-modal .star-rating span::before,
.msbr-show-review-modal .star-rating::before {
	color: #ffcc00;
	height: 1.2em;
	top: 0.5px;
}
.msbr-show-review-modal .star-rating span::before {
	content: "SSSSS";
	top: 0;
	position: absolute;
	left: 0;
}
.msbr-add-review-modal [data-star-rating] {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.msbr-add-review-modal [data-star-rating] .error {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}
.msbr-add-review-modal [data-star-rating] .gl-star-rating--stars {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}
.msbr-display-multi-ratings tr td.msbr-display-multi-ratings-item-rating {
	text-align: right;
}
.woocommerce .woocommerce-Reviews ol.commentlist .comment-text .star-rating {
	display: inline-block;
}

/* Add Review Form */
.msbr-comment-form-comment textarea {
	width: 100%;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
}
.msbr-review-form form label {
	display: block;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 5px;
}
.msbr-review-form .comment-reply-title {
	font-size: 26px;
	font-weight: 700;
	display: block;
	margin-bottom: 16px;
}
.msbr-review-form .msbr-comment-form-rating {
	margin-bottom: 12px;
}
.msbr-review-form .form-submit {
	margin-bottom: 0;
}
.msbr-review-success {
	display: none;
}
.msbr-review-form .error {
	color: rgb(255, 0, 0);
	width: 100%;
}

/* Review Success */

.msbr-review-success-icon-container {
	text-align: center;
}
.msbr-review-success-icon,
.msbr-review-success-icon i::before,
.msbr-review-success-icon i {
	font-size: 80px;
	width: 80px;
	height: 80px;
	display: inline-block;
}
.msbr-review-success-icon {
	border: 4px solid #009e2f;
	color: #009e2f;
	border-radius: 50%;
	position: relative;
}
.msbr-review-success-icon i {
	position: absolute;
	top: -5px;
	left: -5px;
}
.msbr-review-success h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 22px;
	text-align: center;
	font-weight: 700;
}
.msbr-review-success .msbr-review-success-description {
	text-align: center;
	font-size: 18px;
	line-height: 24px;
}

/* multi-rating */
.msbr-display-multi-ratings {
	width: 100%;
	margin-bottom: 10px;
}
.msbr-display-multi-ratings tr.msbr-display-multi-ratings-item td:first-child {
	font-weight: 700;
	color: #4a4a4a;
}

/* Rating Header */
.msbr-review-list-header-design-one {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
.msbr-review-list-header-design-one .msbr-review-list-header-left {
	width: 260px;
}
.msbr-review-list-header-design-one .msbr-review-list-header-middle {
	width: calc(100% - 260px);
	padding: 20px;
	border-left: 1px solid #ededed;
}
.msbr-review-list-header-design-one.msbr-add-review-enabled .msbr-review-list-header-middle,
.msbr-review-list-header-design-one.msbr-add-review-enabled.msbr-alt .msbr-review-list-header-middle {
	width: calc(100% - 460px);
	border-left: 1px solid #ededed;
	border-right: 1px solid #ededed;
}
.msbr-review-list-header-design-one .msbr-review-list-header-left,
.msbr-review-list-header-design-one .msbr-review-list-header-middle {
	padding: 0 20px;
	margin: 30px 0;
}
.msbr-review-list-header-design-one .msbr-review-list-header-info-rating {
	color: #818181;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
}
.msbr-review-list-header-design-one .msbr-review-list-header-info-rating span {
	font-size: 36px;
	font-weight: 700;
	color: #f8ac08;
}
.msbr-review-list-header-design-one .msbr-review-list-header-rating-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 5px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.msbr-review-list-header-design-one .msbr-review-list-header-rating-bar:last-child {
	margin-bottom: 0;
}
.msbr-review-list-header-design-one .msbr-review-list-header-rating-bar-title {
	width: 120px;
}
.msbr-review-list-header-design-one .msbr-review-list-header-rating-bar-count {
	width: 40px;
	max-width: 40px;
	text-align: right;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}
.msbr-review-list-header-design-one .msbr-review-list-header-rating-bar-bar {
	width: calc(100% - 150px);
	height: 10px;
	background-color: #e3e3e3;
	border-radius: 50px;
}
.msbr-review-list-header-design-one .msbr-review-list-header-rating-bar-bar-fill {
	height: 100%;
	background-color: #f8ac08;
	border-radius: 50px;
}
.msbr-review-list-header-design-one .msbr-review-list-header-right {
	width: 200px;
	padding: 20px;
	text-align: center;
}
/* alt */
.msbr-review-list-header-design-one.msbr-alt .msbr-review-list-header-middle {
	border-left: 0;
}
.msbr-review-list-header-design-one.msbr-alt .msbr-review-list-header-middle {
	border-right: 1px solid #ededed;
}

/*=========================================
				Review List
===========================================*/
.msbr-reviews-wrapper .msbr-review-list {
	list-style: none;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}
.msbr-reviews-wrapper.msbr-reviews-list-one ol.msbr-review-list li {
	padding: 30px;
	background-color: var(--msbr-review-list-item-bg);
}
.msbr-reviews-wrapper.msbr-reviews-list-one .msbr-review-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.msbr-review-left {
	width: 200px;
}
.msbr-review-right {
	width: calc(100% - 230px);
}
